{% extends 'catalog/base.html' %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm mt-5">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Регистрация нового пользователя</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100 mt-3">Создать аккаунт</button>
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'users:login' %}">Уже есть аккаунт? Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
